body {
    margin: 0;
    padding: 0px;
    background-color: rgb(52, 85, 102);
}
.header {
    background-color:khaki;
    padding: 20PX;
    margin: 0;
}
.main {
    background-color:khaki;
    padding: 20px;

}
.wrapper {
    max-width:900px;
    margin: auto;
}